################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RisetUITestMobile/.vs/RisetUITestMobile/v16
/RisetUITestMobile/RisetUITestMobile/bin/Debug
/RisetUITestMobile/RisetUITestMobile/obj
